/* black - #000000  
navy - #14213D
gold - #FCA311  (accent)
light gray - #E5E5E5 
white = #FFFFFF */
body{
    margin: 0px;
    padding: 0px;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: #8cb369;
}
.bg-yellow{
    background-color: #f4e285;
}
.bg-accent{
    background-color: #f4a259;
}

.bg-teal{
    background-color: #5b8e7d;
}

.bg-reddish{
    background-color: #bc4b51;
}

.txt-black{
    color: black;
}
.txt-navy{
    color: #14213D;
}
.txt-accent{
    color: #FCA311;
}
.txt-accent a{
    color: #FCA311;
}
.txt-accent a:hover{
    color: #a08356;
}
.txt-lightGray{
    color: #9c9c9c;
}

.ps-light{
    background-color: white;
    /* height: 550px; */
    width: 100%
}

.ps-gray{
    background-color: #E5E5E5;
    height: 550px;
    width: 100%
}




